################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


C#Practice/GhostCoder/bin/
C#Practice/GhostCoder/GhostCoder/bin/
C#Practice/GhostCoder/obj/
C#Practice/GhostCoder/GhostCoder/obj/
C#Practice/GhostCoder/.vs/
C#Practice/GhostCoder/GhostCoder/.vs/


bot borwser/.vs/

bot borwser/AIBackend/.vs/
bot borwser/AIBackend/AIBackend/.vs/

bot borwser/AIBackend/bin/
bot borwser/AIBackend/AIBackend/bin/
bot borwser/AIBackend/AIBackend/obj/
bot borwser/AIBackend/obj/

C#Practice/Saga-State-Machine/Saga-Satate-Machine/Saga-Satate-Machine/obj/
C#Practice/Saga-State-Machine/Saga-Satate-Machine/Saga-Satate-Machine/bin/
C#Practice/Saga-State-Machine/Saga-Satate-Machine/.vs/

C#Practice/AIBackend/FirstMCP/.vs/
