{% load static %}
<!DOCTYPE html>
<html lang='en'>
    <head>
        <title>Hide Post</title>
        <script src="{% static 'hidepost/script.js' %}"> </script>
        <link rel='stylesheet' href="{% static "hidepost/style.css" %}">
    </head>
    <body>
        <div id="content">
            <div class='post' id="post1">
                <span> Post 1</span>
                <button>Hide</button>
            </div>
            <div class='post' id="post2">
                <span> Post 2</span>
                <button>Hide</button>
            </div>
            <div class='post' id="post3">
                <span> Post 3</span>
                <button>Hide</button>
            </div>
            <div class='post' id="post4">
                <span> Post 4</span>
                <button>Hide</button>
            </div>
            <div class='post' id="post5">
                <span> Post 5</span>
                <button>Hide</button>
            </div>
            <div class='post' id="post6">
                <span> Post 6</span>
                <button>Hide</button>
            </div>
            <div class='post' id="post7">
                <span> Post 7</span>
                <button>Hide</button>
            </div>
            <div class='post' id="post8">
                <span> Post 8</span>
                <button>Hide</button>
            </div>
        </div>
    </body>
</html>