<div class="h-screen w-screen flex items-center justify-center bg-gray-100 p-4">

  <div class="flex flex-col w-full max-w-xl h-[80vh] bg-white shadow-lg rounded-xl p-4">

    <!-- Messages Area -->
    <div class="flex-1 overflow-y-auto mb-3">
      <div *ngFor="let msg of aiMessages">

        <div class="text-right mb-2">
          <span class="inline-block bg-blue-200 px-2 py-1 rounded">
             <span [innerHTML]="msg.userInput"></span>
          </span>
        </div>

        <div *ngIf="msg?.reasoningText?.trim">
          <span class="block italic text-yellow-800 bg-yellow-100 px-2 py-1 rounded mb-2">
            [Thinking] <span [innerHTML]="msg.reasoningText">  </span>
          </span>
        </div>

        <div *ngIf="msg.normalText">
          <span class="block bg-gray-200 px-2 py-1 rounded mb-4">
             <span [innerHTML]="msg.normalText | markdown"> </span>  
          </span>
        </div>

      </div>
    </div>

    <!-- Input Area -->
    <div class="flex gap-2">
      <input [(ngModel)]="input" class="flex-1 border rounded p-2" placeholder="Ask AI..." />
      <button (click)="send()" class="bg-blue-600 text-white px-3 py-1 rounded">Send</button>
      <button *ngIf="isStreaming" (click)="cancel()"class="bg-red-500 text-white px-3 py-1 rounded"> Cancel </button>
    </div>



  </div>

</div>
